pyTelegramBotAPI==4.20.0
yt-dlp>=2024.12.13
requests==2.31.0
flask==3.0.3
urllib3==2.2.1
certifi==2024.2.2
idna==3.6
chardet==5.2.0
python-dotenv==1.0.1
gunicorn==21.2.0
instaloader>=4.15
pyTelegramBotAPI==4.20.0
yt-dlp>=2024.12.13
requests==2.31.0
flask==3.0.3
urllib3==2.2.1
certifi==2024.2.2
idna==3.6
chardet==5.2.0
python-dotenv==1.0.1
gunicorn==21.2.0
