yt-dlp==2024.12.13
pytubefix==6.13.1
youtube-dl==2021.12.17
pafy==0.5.5
google-api-python-client==2.126.0
pyTelegramBotAPI==4.20.0
flask==3.0.3
requests==2.31.0
gunicorn==21.2.0
ffmpeg-python==0.2.0
brotli==1.1.0
certifi==2024.8.30
